# .flake8

[flake8]
# E203: whitespace before ':'
# W503: line break before binary operator (Black style)
ignore =
    E203,
    W503
max-line-length = 100
exclude =
    tests,
    venv,
    __pycache__